<div class="container-fluid">
    <!-- START CONTAINER -->
    <div id="mainframe" class="jumbotron col-md-6 mx-auto">
        <img id="logo" src="/public/img/athena_logo.png" class="img-fluid" alt="Athena Logo">
        <hr>
        <form action="/subscribe" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email eingeben" required>
            <small id="emailHelp" class="form-text text-muted">Deine Email teilen wir niemandem mit</small>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="rzkennung" aria-describedby="rzkennungHelp" placeholder="RZKennung eingeben"required>
            <small id="RZKennungHelp" class="form-text text-muted">Die Kennung zum Digicampus</small>
          </div>
          <hr>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="daily">
            <label class="form-check-label" for="daily">Täglich</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="weekly">
            <label class="form-check-label" for="weekly">Wöchenlich</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="unsubcribe" disabled>
            <label class="form-check-label" for="unsubcribe">Nope</label>
          </div>
          <hr>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- END COINTAINER -->
</div>
