<div class="animated fadeIn">
    QuillJS
    <form action="/write" method="post">

      <div class="form-group">
        <input type="text" class="form-control" name="subject" placeholder="Subject" required>
      </div>

      <div class="form-group">
        <textarea class="form-control" name="text" id="text" rows="20"  placeholder="Message..." required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Senden</button>
    </form>
</div>
