<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SQ2PJ</title>
        <link rel="stylesheet" href="/public/lib/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/master.css">
    </head>
    <body>
        {{{body}}}


        <!-- dependencies -->
        <script type="text/javascript" src="/public/lib/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="/public/lib/popper.min.js"></script>
        <script type="text/javascript" src="/public/lib/bootstrap.min.js"></script>
        <!-- this JS -->
        <script type="text/javascript" src="/public/js/root.js"></script>
    </body>
</html>
